@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");

.body{

}

.narration{
    text-align: center;
    margin-top: 150px;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    color: rgb(48, 48, 48);
}

.space{
    margin-top: 100px;
    margin-bottom: 100px;
}

.biggerspace{
    margin-top: 700px;
    margin-bottom: 500px;
}

#pin{
    text-align: center;

}

#bubb1{
    text-align: left;
    margin-top: 530px;
    left: 5%;
}

#bubb2{
    margin-top: 530px;
    padding-top: 130px;
    right: 05%;
    text-align: right;
}

#bubb3{
    margin-top: 530px;
    padding-top: 230px;
    left: 5%;
    text-align: left;
}
#bubb4{
    margin-top: 530px;
    padding-top: 380px;
    text-align: right;
    right: 10%
}


.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }

.boxx {
    display: flex;
    opacity: 90%;
    justify-content: center;
	position: relative;
	border-radius: 8px;
	border: 1px solid white;
	padding: 5px 5px;
    background-color: beige;
    min-width: 10px;
	height: 50px;
	margin-left: 40px;
    margin-right: 40px;
}



#reveal1 {
    opacity: 0;
    -webkit-transform: scale(0.8);
         -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
             -o-transform: scale(0.8);
                    transform: scale(0.8);
    -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
}
#reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}